legend{
    margin-top: 20px
}

.confidentialBody{
    background-color: rgb(29, 27, 27);
    height: 91.5vh;
}
.col-sm-12{
    padding: 0px;
    margin-left: 15px;
    margin-top: 10px;
}
.spacing{
    margin: 40px;
    padding: 10px;
}
.panel{
width: 98%;
}
.fontBold{
    font-weight: 900;
}

.vr {
    width:1px;
    background-color:#000;
    position:absolute;
    top:0;
    bottom:0;
    left:150px;
}

input[type="radio"] {
    margin: 4px;
    margin-top: 10px;
}

.well {
    padding: 0px;
    padding-left: 20px;
    margin-bottom: 0px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    margin-right: 20px;
    
}
hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #eee;
}
.marginLeft{
    margin-left: 10px
}

.marginRight{
    margin-right: 35px
}
.glyphicon-exclamation-sign {
    color: red;
}

.wizard a {
    background: #efefef;
    display: inline-block;
    margin-right: 5px;
    min-width: 150px;
    outline: none;
    padding: 10px 40px 10px;
    position: relative;
    text-decoration: none;
}

.wizard a:hover {
    cursor: pointer;
    text-decoration: underline;
}

    /* Adds the cut out on the left side of the tab */
.wizard a:before {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #fff;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}

    /* Adds the arrow on the right side of the tab */
.wizard a:after {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 21px solid #efefef;
    position: absolute;
    content: "";
    top: 0;
    right: -20px;
    z-index: 2;
}

    /* Squares the start and end of the tab bar */
.wizard a:first-child:before,
.wizard a:last-child:after {
    border: none;
}

    /* Rounds the corners */
.wizard a:first-child {
    -webkit-border-radius: 8px 0 0 0px;
    -moz-border-radius: 8px 0 0 0px;
    border-radius: 8px 0 0 0px;
}

.wizard a:last-child {
    -webkit-border-radius: 0 8px 0px 0;
    -moz-border-radius: 0 8px 0px 0;
    border-radius: 0 8px 0px 0;
}

.wizard .active {
    background: #007ACC;
    color: #fff;
}

    /* Adds the right arrow after the tab */
.wizard .active:after {
    border-left-color: #007ACC;
}

.btn-block {
    display: block;
    width: 95.5vw;
}
